{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        {% for blog in blogs %}         
                <div class= "col-4 card w-lg-quarter w-half h-three-quarter">
                    <img src="{{blog.main_img.url}}" class="img-fluid" alt="{{blog.title}}">
                </div>
                <div class="col-4 card border-0 bg-transparent">
                    <a href= "{{blog.get_absolute_url}}"> <h2> {{blog.title|truncatewords:5}} </h2> </a>
                    <small
                    class="hyperlink-underline"
                    hx-get="{% url 'tag_search' blog.tag %}"
                    hx-trigger="click"
                    hx-target="#content"
                    hx-swap="outerHTML"
                    hx-push-url="true"> 
                     #{{blog.tag|upper}}  
                    </small>
                    <p class="font-size-12 text-muted"> {{blog.updated}} </p>
                </div> 
        {% endfor %}
    </div>

    <div class= "content w-lg-quarter mw-full mx-auto row"> 
        {% include 'components/paginator.html' %}
    </div>
</div>

{% endblock content %}