

{% extends 'base.html' %}    
{% block content %}
<!-- landing page -->
<section class="container-fluid bg-light-lm bg-very-dark-dm d-flex align-items-center justify-content-center">

  <div class= "content mw-full text-center mt-5">
    <h1 class="text-primary"> HTMX/Django Interactive Course </h1> 
    <p> Build Eight Modern Single Page Applications. No complicated JS frameworks necessary </p>

    
    <div class= "card shadow-lg w-lg-700">
      {% include 'components/subscribe_box.html' %}
    </div>

  </div>
</section>
<br>
<br>

{% include 'components/project_list.html' %}

<!-- end landing page-->

{% endblock %}

  


