{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
<div class="text-center row align-items-center justify-content-center h-75">
    <div class= "content col-6"> 
        <img src="{% static 'images/masthead.svg' %}" class="img-fluid w-300" alt="jonathan" >
        <h1 class="m-20 text-primary font-weight-bold font-size-24"> HTMX/Django Interactive Course </h1>
        <p> Build Eight Modern Single Page Applications. No complicated JS frameworks necessary </p>
        
        <button 
        class="btn btn-primary mt-10" 
        role="button" 
        hx-get="{% url 'landing_page' %}"
        hx-trigger="click"
        hx-target="#content"
        hx-swap="outerHTML"
        hx-push-url="true">
        Start Learning 
        </button> 
    
        {% include 'pages/blog_list_3.html'%}
    </div>
</div>

    
</div>
{% endblock %}