{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
<div class="text-center row align-items-center justify-content-center h-75">
    <div class= "content col-6"> 
        <img src="{% static 'images/masthead.svg' %}" class="img-fluid w-300" alt="jonathan" >
        <h1 class="m-20 font-weight-bold font-size-24"> 
            Django and HTMX By Example. Build Twelve Different Single Page Applications. 
        </h1>
        <p> Full stack web development with only Python. No Javascript necessary.</p>

        <p>
        <a href="#" class="btn btn-primary mt-10" role="button"> Start Learning </a> 
         
        </p>
        {% include 'pages/blog_list_3.html'%}
    </div>
</div>

    
</div>
{% endblock %}