 {% load static %}
<div class="modal" id="projects-1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <a href="#" class="close" role="button" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </a>
        <div class= "content">
            <h2> Projects </h2>
            <div class="row" id="projects">

                <div class="mw-full m-auto">
                    <div class="card p-0 text-center">
                        <img id="imgthree" src="{% static 'images/svg4.svg' %}" class="card-img-top w-50" alt="a gifting platform">
                        <div class="content">
                            <h5 class="content-title">Joyful.gifts</h5>
                            <p class="text-muted"> An automated gifting platform. </p>
                            <div class="text-center">
                            <a href="https://joyful.gifts" class="btn btn-primary" target="_blank"> Live </a>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="mw-full m-auto">
                    <div class="card p-0 text-center">
                        <img id="imgone" src="{% static 'images/historyofthecopts.png' %}" alt="cross" class="card-img-top w-50">
                        <div class="content">
                            <h5 class="content-title">History of the Copts</h5>
                            <p class="text-muted"> A Visual History Storyboard Inspired by a Podcast</p>
                            <div class="text-center">
                                <a href="https://historyofthecopts.com/" class="btn btn-primary" target="_blank">Live</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mw-full m-auto">
                    <div class="card p-0 text-center">
                        <img id="imgtwo" src="{% static 'images/copticvoice.png' %}" alt="copticvoice" class="card-img-top w-50"> 
                        <div class="content">
                            <h5 class="content-title">Coptic Voice</h5>
                            <p class="text-muted">A non-profit organization to amplify the voice of the Copts</p>
                            <div class="text-center">
                                <a href="https://copticvoice.herokuapp.com/" class="btn btn-primary" target="_blank"> Live </a>
                            </div>
                        </div>
                    </div>
                </div>
                    
                <div class="mw-full m-auto">
                    <div class="card p-0 text-center">
                        <img id="imgtwo" src="{% static 'images/church.jpg' %}" alt="church" class="card-img-top w-50">
                        <div class="content">
                            <h5 class="content-title">Church Memebership Portal</h5>
                            <p class="text-muted">A membership management web application for a church to manage events and restrictions during the COVID pandemic</p>
                            <div class="text-center">
                                <a href="https://www.stmaryde.org" class="btn btn-primary" target="_blank"> Live </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        </div>
    </div>
</div>

