<form hx-post= "{% url 'home' %}">
<div class="row card border-0 w-600 mw-full mx-auto" hx-target="this" hx-swap="outerHTML">
        <h5 class="card-title mt-20 mx-auto">Want to keep in touch?</h5>
            <div class="col-sm-10">
              {% if error %} 
                <input 
                type="email" 
                class="form-control is-invalid m-5" 
                placeholder="Your email here..." 
                name="email" 
                required
                hx-post="{% url 'validate_email' %}"
                value = {% if email %} {{email}} {% endif %}
                >
                
                 <div class="invalid-feedback">
                    <ul>
                        <li>{{error}}</li>
                     </ul>
                </div>
                 <label for="email" class="sr-only required">Email address</label>
            </div>
            <div class="col-sm-2">
                <button type="submit" disabled="disabled" class="btn btn-primary m-5">Subscribe</button>
            </div>
            {% else %}
             <input 
                type="email" 
                class="form-control m-5" 
                placeholder="Your email here..." 
                name="email" 
                required
                hx-post="{% url 'validate_email' %}"
                value = {% if email %} {{email}} {% endif %}
                >
        
                <label for="email" class="sr-only required">Email address</label>
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary m-5">Subscribe</button>
            </div>
            {% endif %}
        <div class="row mt-5 text-center">
            <small class="card-text ml-10"> You will get an email whenever a post is published!</small>
        </div>
    </div>
</form>

